#proyectos {
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    font-weight: 600;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
  }
  padding: 3rem;
  hr {
    width: 100%;
    border: none;
    border-top: 2px solid #303030;
    margin: 1.5rem 0;
  }
  img{
    height: 11rem;
  }
}
